# URL /exec Google Apps Script (publique, côté client)
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwqzuZdTWMy8K0_VBJAbFPtT_Xp7uVlI5-XWL1RJqPgVjrENGcCMszjBD58GnON4W76fQ/exec

# Google Analytics 4 (optionnel)
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-B9SHNS8VFW

# Lien livraison Casablanca (optionnel)
NEXT_PUBLIC_CASA_DELIVERY_URL=https://ticket-maitre-mohssine-casa.netlify.app
